/* tracking rust.css @bf5f2f */

/* Global page semantics
   ========================================================================== */
body {
    margin: 0 auto;
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    line-height: 1.428571429;
    /*background-color: #F6F6F6;*/
    /*font-size: 14px;*/
    color: #333;
    
}
@media (min-width: 768px) {
    body {
        max-width: 750px;
    }
}

h1, h2, h3, h4, h5, h6 {
    color: black;
    line-height: 1.1;
    font-weight: bold;
    text-rendering: optimizelegibility;
}
h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}
h4, h5, h6 {
    margin-top: 12px;
    margin-bottom: 10px;
}

h1 {
    font-size: 40px;
    margin: 0.67em 0px;
}
h2 {
    font-size: 30px;
}
h3 {
    font-size: 24px;
}
h4 {
    font-size: 18px;
}
h5 {
    font-size: 16px;
}
h6 {
    font-size: 14px;
}

p {
    margin: 0 0 10px;
}

footer {
    margin-top: 2em;
}

/* Links layout
   ========================================================================== */
a {
    text-decoration: none;
    color: #428BCA;
    background: transparent;
}
a:hover, a:focus {
    color: #2A6496;
    text-decoration: underline;
}
a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
a:hover, a:active {
    outline: 0;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: black;
}

h1 small a, h2 small a, h3 small a {
    color: #999;
}

/* Code
   ========================================================================== */
pre, code {
    font-family: Menlo, Monaco, Consolas, Inconsolata, "DejaVu Sans Mono", monospace;
    border-radius: 3px;
}
pre {
    background-color: #F5F5F5;
    border: 1px solid #CCC;
    border-radius: 0.5em;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 10px 0;
    font-size: 13px;
    word-break: break-all;
    word-wrap: break-word;
}
code {
    padding: 2px 4px;
    font-size: 90%;
    color: rgb(134, 101, 68);
    background-color: #F7F7F9;
    border: 1px solid rgb(225, 225, 232);
    white-space: nowrap;
}
pre code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    white-space: pre-wrap;
    background-color: transparent;
    border: none;
    border-radius: 0;
}

/* Code highlighting */
.cm-s-default span.cm-keyword {color: #803C8D;}
.cm-s-default span.cm-atom {color: #219;}
.cm-s-default span.cm-number {color: #2AA198;}
.cm-s-default span.cm-def {color: #256EB8;}
.cm-s-default span.cm-variable {color: black;}
.cm-s-default span.cm-variable-2 {color: #817E61;}
.cm-s-default span.cm-variable-3 {color: #085;}
.cm-s-default span.cm-property {color: black;}
.cm-s-default span.cm-operator {color: black;}
.cm-s-default span.cm-comment {color: #A82323;}
.cm-s-default span.cm-string {color: #866544;}
.cm-s-default span.cm-string-2 {color: #F50;}
.cm-s-default span.cm-meta {color: #555;}
/*.cm-s-default span.cm-error {color: #F00;}*/
.cm-s-default span.cm-qualifier {color: #555;}
.cm-s-default span.cm-builtin {color: #30A;}
.cm-s-default span.cm-bracket {color: #CC7;}
.cm-s-default span.cm-tag {color: #170;}
.cm-s-default span.cm-attribute {color: #00C;}

/* The rest
   ========================================================================== */
#versioninfo {
    text-align: center;
    margin: 0.5em;
    font-size: 1.1em;
}
@media (min-width: 768px) {
    #versioninfo {
        position: fixed;
        bottom: 0px;
        right: 0px;
    }
    .white-sticker {
        background-color: #fff;
        margin: 2px;
        padding: 0 2px;
        border-radius: .3em;
    }
}
#versioninfo a.hash {
    color: gray;
    font-size: 70%;
}

blockquote {
    color: black;
    border-left: 5px solid #eee;
    margin: 0 0 20px;
    padding: 10px 20px;
}
blockquote p {
    font-size: 17px;
    font-weight: 300;
    line-height: 1.25;
}
blockquote p:last-child {
    margin-bottom: 0;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
}
ul ul,
ol ul,
ul ol,
ol ol {
    margin-bottom: 0;
}
dl {
    margin-top: 0;
    margin-bottom: 20px;
}
dd {
    margin-left: 0;
}

#TOC ul {
    list-style-type: none;
    padding-left: 0px;
}
/* Only display one level of hierarchy in the TOC */
#TOC ul ul {
    display: none;
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}

@media print {
    * {
        text-shadow: none !important;
        color: #000 !important;
        background: transparent !important;
        box-shadow: none !important;
    }
    a, a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    a[href^="javascript:"]:after, a[href^="#"]:after {
        content: "";
    }
    pre, blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    @page {
        margin: 2cm .5cm;
    }
    p, h2, h3 {
        orphans: 3;
        widows: 3;
    }
    h2, h3 {
        page-break-after: avoid;
    }
}
