@font-face {
  font-family: 'Noticia Text';
  font-style: normal;
  font-weight: 400;
  src: local('Noticia Text'), local('NoticiaText-Regular'), url(http://themes.googleusercontent.com/static/fonts/noticiatext/v3/wdyV6x3eKpdeUPQ7BJ5uUHhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Noticia Text';
  font-style: normal;
  font-weight: 700;
  src: local('Noticia Text Bold'), local('NoticiaText-Bold'), url(http://themes.googleusercontent.com/static/fonts/noticiatext/v3/pEko-RqEtp45bE2P80AAKXl4twXkwp3_u9ZoePkT564.woff) format('woff');
}
@font-face {
  font-family: 'Noticia Text';
  font-style: italic;
  font-weight: 400;
  src: local('Noticia Text Italic'), local('NoticiaText-Italic'), url(http://themes.googleusercontent.com/static/fonts/noticiatext/v3/dAuxVpkYE_Q_IwIm6elsKHpumDtkw9GHrrDfd7ZnWpU.woff) format('woff');
}

/* Space out content a bit */
body {
  font-size: 17px;
  padding-top: 20px;
  padding-bottom: 20px;
}
body, div.jumbotron h1 {
  font-family: "Noticia Text", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
header,
.marketing,
footer {
  padding-left: 15px;
  padding-right: 15px;
}

.nav-pills > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-left: 4px;
}
.nav-pills > li:first-child > a {
  margin-left: 0;
}

/* Custom page header */
header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
header h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: inherit;
  line-height: 40px;
  padding-bottom: 19px;
}
.jumbo-code {
  background-color: transparent;
  display: inline-block;
  white-space: normal;
}

/* Custom page footer */
footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}
.jumbotron h1 {
    font-size: 65px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}
.marketing h4 {
  font-size: 20px;
  font-weight: bold;
}
.marketing ul {
  padding-left: 20px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  header,
  .marketing,
  footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

table {
  margin-bottom: 15px;
}

.lbl {
  border-radius: 4px;
  color: rgb(255, 255, 255);
  display: inline-block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 60%;
  margin-bottom: 2px;
  padding: 0 2px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
}
.lab {
  background-color: #d2322d;
  border-color: rgb(212, 63, 58);
}
.wip {
  background-color: #f0a04e;
  border-color: rgb(238, 162, 54);
}