<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A tutorial for the Rust programming language.">
    <meta name="author" content="Adrien T&eacute;tar">
    <meta name="keywords" content="rust, rustlang, rust programming language, rust tutorial">

    <title>Home &middot; Rust tutorials_NG</title>

    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body class="container">
      <header>
        <ul class="nav nav-pills pull-right">
          <li><a href="#">Home</a></li>
          <li class="active"><a href="#">Content</a></li>
          <li><a href="#">Contribute</a></li>
        </ul>
        <h3 class="text-muted">$ <span style="color: #666">Rust tutorials</span></h3>
      </header>
